<ion-view view-title="People">
  <ion-content class="padding">
    <h3>My company</h3>
    
    Recherche d'albums pour : {{query}}

    <form ng-submit="search()">
      <input type="text" placeholder="Album" ng-model="query">
      <input type="submit" value="Search">
    </form>

    {{data}}

    <div>You entered: {{enteredName}}</div>

    <form ng-submit="add()">
      <input type="text" placeholder="Name" ng-model="enteredName">
      <input type="submit" value="Add name">
    </form>

    <ion-list ng-repeat="name in all">
      <ion-item href="#">{{name}}
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> 
  </ion-content>
</ion-view>
